.HeroBanner {
    background-color: $primary-color;
    display: flex;
    padding-block: 80px 50px;    
    flex-direction: column;
    height: 96vh;
    position: fixed;
    top: 0;

    @include desktop {
        padding-block: 175px 100px;        
        height: auto;
    }

    @include small-desktop-screen {
        flex-direction: row;
    }

    h1 {
        font-weight: 900;
        font-size: 48px;
        line-height: 130%;
        letter-spacing: 0.01em;
        color: white;

        @include desktop {
            font-size: 62px;
        }
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 180%;
        color: #FFFFFF;
        opacity: 0.8;
    }

    img {
        width: 100%;
        height: 500px;
        object-fit: cover;

        @include small-desktop-screen {
            width: 500px;
            padding-inline: 0;
        }
    }

    .HeroBanner-Image {
        padding: 16px 0;
        flex: 2;
        transform: translateY(-48%);
        z-index: 2;

        @include desktop {
            padding: 16px 50px;
            transform: none;
        } 
    
        @include small-desktop-screen {
            padding-inline: 0;
        }
    }

    button {
        color: white;
        background-color: $orange-color;
        border: 0;
        width: 152px;
        height: 62px;
        font-weight: 900;
        font-size: 18px;
        line-height: 180%;
    }

    .HeroBanner-Conent {
        padding-inline: 20px;
        z-index: 3;

        @include desktop {
            padding-inline: 50px;
            flex: 1;
        }

        @include large-screen {
            padding-left: 250px;
        }
    }

    .HeroBannerImage {
        max-width: 782px;
        display: flex;
        margin-left: auto;
    }
}

.empty-div {
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 2;
    background: transparent;
    pointer-events: none;
}