body {
    overflow-x: hidden;
    font-family: 'Nunito Sans';
    margin: 0;
    background-color: $primary-background-color;
}

.Content-Wrapper {
    margin-inline: auto;
}

main {
    min-height: 100vh;

    > * {
        background-color: $primary-background-color;
        z-index: 2;
        position: relative;
    }
}

button, .Button {
    position: relative;
    border: 0;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
    }

    &::after {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        left: -3px;
        top: -3px;
        background-color: red;
        z-index: -1;
        border-radius: 3px;
        transition: all 1s linear;
    }
}

a {
    text-decoration: none;
}

.Button {
    &-Disabled {
        opacity: 0.4;
    }
}