header {
    width: 100vw;
    background-color: $primary-color;
    color: white;
    min-height: 70px;
    padding-block: 42px 10px;

    > div {
        display: flex;
        justify-content: space-between;
        padding-inline: 50px;

        @include large-screen {
            padding-inline: 250px 126px;
        }
    }

    .Tab-Wrapper {
        font-weight: 400;
        font-size: 18px;
        display: flex;
        gap: 26px;
    }
}