footer {
    padding-block: 42px 10px;

    > div {
        display: flex;
        justify-content: space-between;
        padding-inline: 50px;

        @include large-screen {
            padding-inline: 250px 126px;
        }
    }

    .Navigation-Wrapper {
        display: flex;
        justify-content: space-between;
    }

    .Content-Wrapper {
        flex-direction: column;

        @include desktop {
            flex-direction: row;
        }

        > div {
            flex: 1;
        }

        .Icon-Wrapper {
            padding-right: 20%;
        }
    }

    .Navigation-Title {
        color: #40434A;
        font-weight: 700;
        font-size: 20px;
    }

    .Navigation-ContentWrapper {
        font-weight: 400;
        font-size: 18px;
        color: #70737C;
    }

    .Header-Icon {
        color: white;
    }

    .Footer-Text {
        font-weight: 400;
        font-size: 20px;
        margin-block: 26px;
    }
}