footer {
    padding-block: 42px 10px;
    margin-block-start: 48px;
    border-top: 1px solid black;

    > div {
        display: flex;
        justify-content: space-between;
        padding-inline: 20px;

        @include desktop {
            padding-inline: 50px;
        }

        @include large-screen {
            padding-inline: 150px 150px;
        }
    }

    .Navigation-Wrapper {
        display: flex;
        justify-content: space-between;
    }

    .Content-Wrapper {
        flex-direction: column;

        @include desktop {
            flex-direction: row;
        }

        > div {
            flex: 1;
        }

        .Icon-Wrapper {
            padding-right: 20%;
        }
    }

    .Navigation-Title {
        color: #40434A;
        font-weight: 700;
        font-size: 20px;
    }

    .Navigation-ContentWrapper {
        font-weight: 400;
        font-size: 18px;
        color: #70737C;
    }

    .Header-Icon {
        color: white;
    }

    .Footer-Text {
        font-weight: 400;
        font-size: 20px;
        margin-block: 26px;
    }

    .Footer-Icons {
        margin-block-end: 20px;

        img {
            margin-inline-end: 30px;
        }
    }
}
